@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

// Variables
$Primary-Color: #9356DC;
$Secondary-Color: #FF79DA;
$Tertiary-Color: #99E2D0;
$Tertiary-Color_Alt: #008766;
$Gradient-Color: linear-gradient(to bottom right,$Secondary-Color, $Primary-Color);
$Gradient-Color-Alt: linear-gradient(to top,$Secondary-Color, $Primary-Color);

// Réglages généraux
:root {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-size: 10px;
}
*,*::before,*::after{
  box-sizing:inherit
}
html,body,p,ul,ol,li,figure,h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0
}
html {
  box-sizing:border-box
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol{
  list-style:none
}
button,input{
  margin:0
}
img{
  height:auto;
  max-width:100%
}
p, li {
  font-size: 1.7rem;
}
h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
.ContentWrapper {
  display: flex;
  flex-direction: column;
}

// Imports
@import 'elements/loading';
@import 'elements/header';
@import 'elements/heading';
@import 'elements/location';
@import 'elements/operation';
@import 'elements/restaurants';
@import 'elements/menu';
@import 'elements/footer';
@import 'elements/responsive';
