@media screen and (min-width:500px) {
  .Operation {
    flex-direction: row;
    justify-content: space-around;
    ol {
      display: inline-flex;
      li {
        flex: 1;
        margin: 2rem;
        // display: flex;
        // flex-direction: column;
        span {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width:768px) {
  :root {
    font-size: 12px;
  }
  .Restaurant article {
    width: 300px;
    max-width: 550px;
  }
}
@media screen and (min-width:1024px) {
  .HeadingImg img{
    object-position: bottom;
    object-fit: cover;
    max-height: 60vh;
  }
  .MenuWrapper {
    flex-flow: row wrap;
    column-gap: 2rem;
    header {
      width: 100%;
    }
    section {
      flex: 1;
    }
    li {
      .wrapper {
        white-space: normal;
        &:hover {
          white-space: nowrap;
        }
      }
    }
  }
}