// Vue Tablet
@media screen and (min-width:635px) {
  .Operation {
    flex-direction: row;
    justify-content: space-around;

    ol {
      display: inline-flex;

      li {
        flex: 1;
        margin: 2rem;

        span {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width:768px) {
  .Restaurant article {
    width: 45%;
    max-width: 550px;
  }

  .HeadingImg img {
    max-height: 60vh;
    object-fit: cover;
  }
}

// Vue Laptop
@media screen and (min-width:1024px) {
  .HeadingImg img {
    object-position: bottom;
  }

  .HeadingImg .AdjustImg {
    object-position: center;
  }

  .MenuWrapper {
    flex-flow: row wrap;
    column-gap: 2rem;

    header {
      width: 100%;
    }

    section {
      flex: 1;
    }

    li {
      .wrapper {
        white-space: normal;

        &:hover {
          white-space: nowrap;
        }
      }
    }
  }
}

// Vue Desktop
@media screen and (min-width:1440px) {
  .ContentWrapper {
    max-width: 1440px;
    margin: auto;

    .Location,
    footer,
    .HeadingImg img {
      border-radius: 2rem 2rem 0 0;
    }

    .Heading {
      border-radius: 0 0 2rem 2rem;
    }

    .Restaurant {
      margin-bottom: 4rem;
      border-radius: 2rem;
    }

    .MenuWrapper {
      border-radius: 4rem;
      margin-bottom: 4rem;
    }
  }
}